@font-face {
  font-family: "Futura";
  src: url("Futura.ttc");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("gilroy-light.otf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroybold";
  src: url("gilroy-extrabold.otf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geosanslight";
  src: url("GeosansLight.ttf");

  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font: 15px/1.5 Futura;
  background-color: #392d2d;
}
.container{
  width:80%; 
  margin:auto; 
  overflow:hidden;
}

 #showcase{
 
  min-height: 780px;
  background: url('Yosemite.jpg')  no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
}


#showcase p{
  color:black;
  font-size: 50px;
  font-family: gilroybold;
  margin-top: 150px;

}
header a:hover{
  color:#505050;
  font-weight:bold; 
}

.profile {
  width: 100%;
  margin-top: 50vh;
  text-align: center;
  position: absolute;
  display: table;
  color: White;
  font-family: futura;
  font-size: 30px;
}
.profilepic {
  width: 13%;
  height: auto;
  margin-top: -25vh;
  left: 50%;
  margin-left: -93.5px;
  position: absolute;
  border-radius: 50%;
}
.bar {
  padding: 50px 30px;
}
#bartable {
  background-color: black;
  margin:auto;
  width:100%;
  text-align: center;
  font-size: 30px;
  color: white;
  position: sticky;
  top: 0;
}
.title {
  padding-top: 140px;
  margin-top: -50px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: futura;
}

.work {
  margin-left: 120vh;
  color: white;
  font-size: 30px;
}
.clubs {
  margin-left: 120vh;
  color: white;
  font-size: 30px;
  margin-top: 50vh;
}
.boxtable {
  overflow: visible;
  border-spacing: 10vh;
  border-collapse: separate;
}
.box {
  overflow-x:auto;
  background-color: rgba(20, 20, 20, 0.35);
  font-family: Geosanslight;
  color: rgba(230, 230, 230, 0.95);
  padding: 12px 12px;
  vertical-align: top;
}
.subtitle {
  font-family: futura;
  margin: auto;
  font-size: 30px;
}
.navicon {
  width: 5%;
  height: auto;
  vertical-align: middle;
}
p {
  font-family: Geosanslight;
  color: rgba(230, 230, 230, 0.95);
  text-align: center;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:focus {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	

}