@font-face {
    font-family: 'VCROSDMono';
    src: url('VCROSDMono.eot?#iefix') format('embedded-opentype'),  url('fonts/VCROSDMono.woff') format('woff'), url('fonts/VCROSDMono.ttf')  format('truetype'), url('fonts/VCROSDMono.svg#VCROSDMono') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
html{
  font-size: 62.5%;
  height:100%;
}

body{
font-family:  'VCROSDMono';
font-size: 62.5%;
text-transform: uppercase;
height:100%;
}

.container{
  height:100%;
}
a:link {
  text-decoration: none;
}
.blue{

color: rgb(4, 30, 102);
}
.grey{
  color: rgb(145, 144, 144);
}

.block{
  
  width: 100%;
  display:block;
}

.full-page{
  height:100%;
  width:100%;
}
.bottom{
  position: absolute;
  bottom:0
}
.middle{
  margin-top:auto;
  margin-bottom:auto;
}

.clip{
  
  background-color:rgb(4, 30, 102);
  color:white;
}
@media (max-width: 766px){
  .mobile-none{
    display:none;
  }
  .mobile-center{
    text-align:center;
  }
  .row{
    margin-right:0px;
    margin-left:0px;
  }
  .bottom{
    top:40rem;
    bottom:0;
    position:relative;
  }
  h2{
    margin-top:2rem ;
  }
}